<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <receiver
            android:name="com.grinch.rivo4.sip.SipCredentialReceiver"
            android:exported="true"
            android:permission="android.permission.DUMP">
            <intent-filter>
                <action android:name="${applicationId}.SET_SIP_CREDENTIALS" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
